openapi: 3.1.0
info:
  title: Quipu API v1
  version: 1.0.0
  description: |
    REST API for Quipu invoicing and accounting software. JSON API format.
    All requests require `Accept: application/vnd.quipu.v1+json` header.

    ## Authentication
    All endpoints require a valid OAuth2 Bearer token passed via the
    `Authorization` header.

    ## Rate Limiting
    The API enforces a limit of **5 requests per 5 seconds**. Exceeding
    this limit will result in `429 Too Many Requests` responses.

    ## Format
    Request and response bodies follow the [JSON API](https://jsonapi.org/)
    specification.

    ## Pagination
    All list endpoints return paginated results. The response includes a
    `meta.pagination_info` object with `total_pages`, `current_page`, and
    `total_results`.
  x-logo:
    url: ./logo.png
    altText: Quipu
    href: https://getquipu.com
  contact:
    name: Quipu Integrations
    url: https://getquipu.com/es/integraciones
  termsOfService: https://getquipu.com/es/condiciones-de-uso

servers:
  - url: https://getquipu.com
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Users
    description: User account information
  - name: Contacts
    description: Clients and suppliers
  - name: Book Entries
    description: "Read-only listing of all book entries. The type filter accepts: invoices, paysheets, tickets."
  - name: Invoices
    description: Full invoices (income and expenses)
  - name: Tickets
    description: "**DEPRECATED** — Blocked for Verifactu accounts (returns 403). Use Simplified Invoices or Additional Income endpoints instead."
  - name: Simplified Invoices
    description: Simplified invoices
  - name: Additional Incomes
    description: "Additional income entries (simplified income documents). Always outbound (income). These entries are not subject to Verifactu."
  - name: Paysheets
    description: "Employee paysheets. Note: For paysheets, issuing_* fields refer to the company (target) and recipient_* fields refer to the employee (origin), which is reversed from other book entry types."
  - name: Numbering Series
    description: Invoice numbering series configuration
  - name: Accounting Categories
    description: Read-only accounting categories
  - name: Accounting Subcategories
    description: Accounting subcategories
  - name: Attachments
    description: File attachments for book entries

paths:
  # ── Users ──────────────────────────────────────────────────────────────
  /users/{id}:
    get:
      operationId: getUser
      summary: Show user
      tags: [Users]
      parameters:
        - $ref: "#/components/parameters/AcceptHeader"
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: User ID
      responses:
        "200":
          description: User found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UserResource"
              example:
                data:
                  id: "42"
                  type: users
                  attributes:
                    email: user@example.com
                    name: Jane
                    surnames: Doe
                    locale: es
                    sign_up_draft_data: null
                    is_full_admin: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Contacts ───────────────────────────────────────────────────────────
  /{owner_slug}/contacts:
    get:
      operationId: listContacts
      summary: List contacts
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[kind]
          in: query
          schema:
            type: string
            enum: [client, supplier, employee]
          description: Filter by contact kind
        - name: filter[tax_id]
          in: query
          schema:
            type: string
          description: Filter by tax ID
        - name: filter[country]
          in: query
          schema:
            type: string
          description: Filter by country code (comma-separated for multiple)
        - name: filter[email]
          in: query
          schema:
            type: string
          description: Filter by email address
        - name: filter[q]
          in: query
          schema:
            type: string
          description: Free-text search across contact fields
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, -name, total_paid_income, -total_paid_income, total_unpaid_income, -total_unpaid_income, total_paid_expenses, -total_paid_expenses, total_unpaid_expenses, -total_unpaid_expenses]
          description: Sort field (prefix with `-` for descending)
      responses:
        "200":
          description: Paginated list of contacts
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ContactResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createContact
      summary: Create contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/ContactWritable"
            example:
              data:
                type: contacts
                attributes:
                  name: Acme Corp
                  tax_id: B12345678
                  email: billing@acme.com
                  country_code: ES
      responses:
        "201":
          description: Contact created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /{owner_slug}/contacts/{id}:
    get:
      operationId: getContact
      summary: Show contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Contact found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateContact
      summary: Update contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/ContactWritable"
      responses:
        "200":
          description: Contact updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      operationId: deleteContact
      summary: Delete contact
      tags: [Contacts]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Contact deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Book Entries (read-only) ───────────────────────────────────────────
  /{owner_slug}/book_entries:
    get:
      operationId: listBookEntries
      summary: List all book entries
      description: |
        Returns a paginated list of all book entries including invoices,
        tickets, simplified invoices, additional income, and paysheets.
      tags: [Book Entries]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[type]
          in: query
          schema:
            type: string
            enum: [invoices, tickets, paysheets]
          description: Filter by entry type
        - name: filter[kind]
          in: query
          schema:
            type: string
            enum: [expenses, income]
          description: Filter by kind (expenses or income)
        - name: filter[q]
          in: query
          schema:
            type: string
          description: Free-text search
        - name: filter[period]
          in: query
          schema:
            type: string
          description: Filter by period (e.g. "2024Q1", "2024-01")
        - name: filter[payment_status]
          in: query
          schema:
            type: string
            enum: [paid, unpaid, partially_paid]
          description: Filter by payment status
        - name: filter[contact_id]
          in: query
          schema:
            type: integer
          description: Filter by contact ID
        - name: filter[validation_status]
          in: query
          schema:
            type: string
          description: Filter by validation status
        - name: filter[field_query][field]
          in: query
          schema:
            type: string
          description: Field name for field-level query filter
        - name: filter[field_query][term]
          in: query
          schema:
            type: string
          description: Search term for field-level query filter
        - name: sort
          in: query
          schema:
            type: string
            enum: [number, -number, issue_date, -issue_date, counterpart_name, -counterpart_name, total_amount, -total_amount, total_amount_without_taxes, -total_amount_without_taxes]
          description: Sort field (prefix with `-` for descending)
      responses:
        "200":
          description: Paginated list of book entries
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BookEntryResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Invoices ───────────────────────────────────────────────────────────
  /{owner_slug}/invoices:
    get:
      operationId: listInvoices
      summary: List invoices
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Paginated list of invoices
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvoiceResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createInvoice
      summary: Create invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/InvoiceWritable"
            example:
              data:
                type: invoices
                attributes:
                  kind: income
                  issue_date: "2024-03-15"
                  paid_at: "2024-03-20"
                  payment_method: bank_transfer
                  tags:
                    - consulting
                  notes: March consulting services
                relationships:
                  contact:
                    data:
                      id: "101"
                      type: contacts
                  numeration:
                    data:
                      id: "5"
                      type: numbering_series
                  items:
                    data:
                      - type: items
                        attributes:
                          concept: Consulting services
                          unitary_amount: "1500.00"
                          quantity: 1
                          vat_percent: 21.0
                          retention_percent: 15.0
      responses:
        "201":
          description: Invoice created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InvoiceResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /{owner_slug}/invoices/{id}:
    get:
      operationId: getInvoice
      summary: Show invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Invoice found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InvoiceResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateInvoice
      summary: Update invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/InvoiceWritable"
      responses:
        "200":
          description: Invoice updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InvoiceResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      operationId: deleteInvoice
      summary: Delete invoice
      tags: [Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Invoice deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Tickets ────────────────────────────────────────────────────────────
  /{owner_slug}/tickets:
    get:
      operationId: listTickets
      summary: List tickets
      deprecated: true
      description: "**Deprecated.** Use Simplified Invoices or Additional Income instead. Returns 403 Forbidden for Verifactu-activated accounts."
      tags: [Tickets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Paginated list of tickets
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TicketResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createTicket
      summary: Create ticket
      deprecated: true
      description: "**Deprecated.** Use Simplified Invoices or Additional Income instead. Returns 403 Forbidden for Verifactu-activated accounts."
      tags: [Tickets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/TicketWritable"
      responses:
        "201":
          description: Ticket created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TicketResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /{owner_slug}/tickets/{id}:
    get:
      operationId: getTicket
      summary: Show ticket
      deprecated: true
      description: "**Deprecated.** Use Simplified Invoices or Additional Income instead. Returns 403 Forbidden for Verifactu-activated accounts."
      tags: [Tickets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Ticket found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TicketResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateTicket
      summary: Update ticket
      deprecated: true
      description: "**Deprecated.** Use Simplified Invoices or Additional Income instead. Returns 403 Forbidden for Verifactu-activated accounts."
      tags: [Tickets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/TicketWritable"
      responses:
        "200":
          description: Ticket updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TicketResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      operationId: deleteTicket
      summary: Delete ticket
      deprecated: true
      description: "**Deprecated.** Use Simplified Invoices or Additional Income instead. Returns 403 Forbidden for Verifactu-activated accounts."
      tags: [Tickets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Ticket deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Simplified Invoices ────────────────────────────────────────────────
  /{owner_slug}/simplified_invoices:
    get:
      operationId: listSimplifiedInvoices
      summary: List simplified invoices
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Paginated list of simplified invoices
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SimplifiedInvoiceResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createSimplifiedInvoice
      summary: Create simplified invoice
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/SimplifiedInvoiceWritable"
      responses:
        "201":
          description: Simplified invoice created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SimplifiedInvoiceResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /{owner_slug}/simplified_invoices/{id}:
    get:
      operationId: getSimplifiedInvoice
      summary: Show simplified invoice
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Simplified invoice found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SimplifiedInvoiceResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateSimplifiedInvoice
      summary: Update simplified invoice
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/SimplifiedInvoiceWritable"
      responses:
        "200":
          description: Simplified invoice updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SimplifiedInvoiceResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      operationId: deleteSimplifiedInvoice
      summary: Delete simplified invoice
      tags: [Simplified Invoices]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Simplified invoice deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Additional Incomes ─────────────────────────────────────────────────
  /{owner_slug}/additional_incomes:
    get:
      operationId: listAdditionalIncomes
      summary: List additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Paginated list of additional income
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AdditionalIncomeResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createAdditionalIncome
      summary: Create additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/AdditionalIncomeWritable"
      responses:
        "201":
          description: Additional income created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AdditionalIncomeResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /{owner_slug}/additional_incomes/{id}:
    get:
      operationId: getAdditionalIncome
      summary: Show additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Additional income found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AdditionalIncomeResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateAdditionalIncome
      summary: Update additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/AdditionalIncomeWritable"
      responses:
        "200":
          description: Additional income updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AdditionalIncomeResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      operationId: deleteAdditionalIncome
      summary: Delete additional income
      tags: [Additional Incomes]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Additional income deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Paysheets ──────────────────────────────────────────────────────────
  /{owner_slug}/paysheets:
    get:
      operationId: listPaysheets
      summary: List paysheets
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Paginated list of paysheets
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PaysheetResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createPaysheet
      summary: Create paysheet
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/PaysheetWritable"
            example:
              data:
                type: paysheets
                attributes:
                  kind: expenses
                  issue_date: "2024-03-31"
                  net_pay: "1800.00"
                  gross_pay: "2400.00"
                  employee_ss_amount: "150.00"
                  employee_retention: "360.00"
                  company_ss_amount: "720.00"
                relationships:
                  contact:
                    data:
                      id: "55"
                      type: contacts
      responses:
        "201":
          description: Paysheet created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PaysheetResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /{owner_slug}/paysheets/{id}:
    get:
      operationId: getPaysheet
      summary: Show paysheet
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Paysheet found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PaysheetResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updatePaysheet
      summary: Update paysheet
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/PaysheetWritable"
      responses:
        "200":
          description: Paysheet updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PaysheetResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      operationId: deletePaysheet
      summary: Delete paysheet
      tags: [Paysheets]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Paysheet deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Numbering Series ──────────────────────────────────────────────────
  /{owner_slug}/numbering_series:
    get:
      operationId: listNumberingSeries
      summary: List numbering series
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[applicable_to]
          in: query
          schema:
            type: string
          description: Filter by applicable_to value
        - name: filter[amending]
          in: query
          schema:
            type: boolean
          description: Filter by amending status
        - name: filter[prefix]
          in: query
          schema:
            type: string
          description: Filter by prefix
        - name: filter[applies_to]
          in: query
          schema:
            type: string
            enum: [new_documents, existing_documents]
          description: Filter by applies_to value
      responses:
        "200":
          description: Paginated list of numbering series
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NumberingSeriesResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createNumberingSeries
      summary: Create numbering series
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/NumberingSeriesWritable"
            example:
              data:
                type: numbering_series
                attributes:
                  prefix: "INV-"
                  default: false
                  amending: false
                  applies_to: new_documents
      responses:
        "201":
          description: Numbering series created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NumberingSeriesResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /{owner_slug}/numbering_series/{id}:
    get:
      operationId: getNumberingSeries
      summary: Show numbering series
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Numbering series found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NumberingSeriesResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateNumberingSeries
      summary: Update numbering series
      description: "Update an existing numbering series. Note: prefix cannot be changed after creation."
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/NumberingSeriesWritable"
      responses:
        "200":
          description: Numbering series updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NumberingSeriesResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      operationId: deleteNumberingSeries
      summary: Delete numbering series
      tags: [Numbering Series]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Numbering series deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Accounting Categories (read-only) ─────────────────────────────────
  /{owner_slug}/accounting_categories:
    get:
      operationId: listAccountingCategories
      summary: List accounting categories
      tags: [Accounting Categories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[kind]
          in: query
          schema:
            type: string
          description: Filter by kind (comma-separated for multiple)
        - name: filter[prefix]
          in: query
          schema:
            type: string
          description: Filter by prefix (comma-separated for multiple)
        - name: filter[active]
          in: query
          schema:
            type: boolean
          description: Filter by active status
      responses:
        "200":
          description: Paginated list of accounting categories
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountingCategoryResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /{owner_slug}/accounting_categories/{id}:
    get:
      operationId: getAccountingCategory
      summary: Show accounting category
      tags: [Accounting Categories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Accounting category found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AccountingCategoryResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Accounting Subcategories ──────────────────────────────────────────
  /{owner_slug}/accounting_subcategories:
    get:
      operationId: listAccountingSubcategories
      summary: List accounting subcategories
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - name: filter[accounting_category_id]
          in: query
          schema:
            type: string
          description: Filter by accounting category ID (comma-separated for multiple)
      responses:
        "200":
          description: Paginated list of accounting subcategories
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountingSubcategoryResource"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createAccountingSubcategory
      summary: Create accounting subcategory
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/AccountingSubcategoryWritable"
            example:
              data:
                type: accounting_subcategories
                attributes:
                  name: Office Supplies
                  suffix: "01"
                relationships:
                  accounting_category:
                    data:
                      id: "3"
                      type: accounting_categories
      responses:
        "201":
          description: Accounting subcategory created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AccountingSubcategoryResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /{owner_slug}/accounting_subcategories/{id}:
    get:
      operationId: getAccountingSubcategory
      summary: Show accounting subcategory
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Accounting subcategory found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AccountingSubcategoryResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateAccountingSubcategory
      summary: Update accounting subcategory
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/vnd.quipu.v1+json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: "#/components/schemas/AccountingSubcategoryWritable"
      responses:
        "200":
          description: Accounting subcategory updated
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AccountingSubcategoryResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      operationId: deleteAccountingSubcategory
      summary: Delete accounting subcategory
      tags: [Accounting Subcategories]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Accounting subcategory deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Attachments ────────────────────────────────────────────────────────
  /{owner_slug}/attachments:
    post:
      operationId: createAttachment
      summary: Create attachment (file upload)
      description: Upload a file as a multipart form data request.
      tags: [Attachments]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, book_entry_id]
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload
                book_entry_id:
                  type: string
                  description: ID of the book entry to attach the file to (required)
      responses:
        "201":
          description: Attachment created
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttachmentResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"

  /{owner_slug}/attachments/{id}:
    get:
      operationId: getAttachment
      summary: Show attachment
      tags: [Attachments]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Attachment found
          content:
            application/vnd.quipu.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AttachmentResource"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteAttachment
      summary: Delete attachment
      tags: [Attachments]
      parameters:
        - $ref: "#/components/parameters/OwnerSlug"
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "204":
          description: Attachment deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

# ═════════════════════════════════════════════════════════════════════════
# Components
# ═════════════════════════════════════════════════════════════════════════
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2
      description: OAuth2 Bearer token

  # ── Parameters ─────────────────────────────────────────────────────────
  parameters:
    OwnerSlug:
      name: owner_slug
      in: path
      required: true
      schema:
        type: string
      description: URL slug of the account/business owner
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Resource ID
    AcceptHeader:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        const: application/vnd.quipu.v1+json
      description: Required API version accept header
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        const: application/vnd.quipu.v1+json
      description: Required content type for write operations
    PageNumber:
      name: page[number]
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number (1-indexed)
    PageSize:
      name: page[size]
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      description: Number of results per page

  # ── Shared Schemas ─────────────────────────────────────────────────────
  schemas:
    # ── Pagination ───────────────────────────────────────────────────────
    PaginationMeta:
      type: object
      properties:
        pagination_info:
          type: object
          properties:
            total_pages:
              type: integer
              example: 2
            current_page:
              type: integer
              example: 1
            total_results:
              type: integer
              example: 23

    # ── JSON API Relationship Link ───────────────────────────────────────
    RelationshipLinkage:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
      nullable: true

    RelationshipLinkageArray:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string

    # ── Error ────────────────────────────────────────────────────────────
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: object
                properties:
                  pointer:
                    type: string
                    example: /data/attributes/name
              detail:
                type: string
                example: can't be blank

    # ── Item (nested resource) ───────────────────────────────────────────
    ItemAttributes:
      type: object
      description: Line item on an invoice, ticket, or simplified invoice
      properties:
        id:
          type: string
        concept:
          type: string
          description: Name / description of the line item
        unitary_amount:
          type: string
          description: Unit price as decimal string
        quantity:
          type: number
          description: Quantity
        kind:
          type: string
          description: Item kind
        vat_amount:
          type: string
          description: Calculated VAT amount
        retention_amount:
          type: string
          description: Calculated retention amount
        discount_amount:
          type: string
          description: Calculated discount amount
        deductible_vat_amount:
          type: string
          description: Deductible VAT amount
        total_amount:
          type: string
          description: Total amount for this line item
        description:
          type: string
          description: Extended description
        discount_percent:
          type: number
          description: Discount percentage
        vat_percent:
          type: number
          description: VAT percentage
        retention_percent:
          type: number
          description: Retention percentage
        deductible_vat_percent:
          type: number
          description: Deductible VAT percentage
        deductible_expense_percent:
          type: number
          description: Deductible expense percentage

    ItemWritableAttributes:
      type: object
      properties:
        concept:
          type: string
        unitary_amount:
          type: string
        quantity:
          type: number
        vat_percent:
          type: number
        retention_percent:
          type: number
        discount_percent:
          type: number
        kind:
          type: string
        description:
          type: string

    # ── Users ────────────────────────────────────────────────────────────
    UserResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: users
        attributes:
          type: object
          properties:
            email:
              type: string
              format: email
            name:
              type: string
            surnames:
              type: string
            locale:
              type: string
              example: es
            sign_up_draft_data:
              type: object
              nullable: true
            is_full_admin:
              type: boolean

    # ── Contacts ─────────────────────────────────────────────────────────
    ContactAttributes:
      type: object
      properties:
        name:
          type: string
        tax_id:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        address:
          type: string
        town:
          type: string
        zip_code:
          type: string
        country_code:
          type: string
          example: ES
        total_paid_incomes:
          type: string
        total_unpaid_incomes:
          type: string
        total_incomes:
          type: string
        total_paid_expenses:
          type: string
        total_unpaid_expenses:
          type: string
        total_expenses:
          type: string
        client_number:
          type: string
          nullable: true
        supplier_number:
          type: string
          nullable: true
        document_type:
          type: string
          nullable: true
        is_client:
          type: boolean
        is_supplier:
          type: boolean
        is_supplier_of_direct_goods:
          type: boolean
        bank_account_number:
          type: string
          nullable: true
        bank_account_swift_bic:
          type: string
          nullable: true
        deletable:
          type: boolean

    ContactResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: contacts
        attributes:
          $ref: "#/components/schemas/ContactAttributes"

    ContactWritable:
      type: object
      required: [type, attributes]
      properties:
        type:
          type: string
          const: contacts
        attributes:
          type: object
          properties:
            name:
              type: string
            tax_id:
              type: string
            phone:
              type: string
            email:
              type: string
              format: email
            address:
              type: string
            town:
              type: string
            zip_code:
              type: string
            country_code:
              type: string
            client_number:
              type: string
            supplier_number:
              type: string
            employee_number:
              type: string
            a3_nom_id:
              type: string
            is_supplier_of_direct_goods:
              type: boolean
            description:
              type: string
            bank_account_number:
              type: string
            bank_account_swift_bic:
              type: string
            document_type:
              type: string

    # ── Book Entries (read-only) ─────────────────────────────────────────
    BookEntryAttributes:
      type: object
      properties:
        number:
          type: string
          nullable: true
        issue_date:
          type: string
          format: date
        due_dates:
          type: array
          items:
            type: string
            format: date
          nullable: true
        paid_at:
          type: string
          format: date
          nullable: true
        payment_method:
          type: string
          nullable: true
        payment_status:
          type: string
          enum: [paid, unpaid, partially_paid]
        total_amount:
          type: string
        tags:
          type: array
          items:
            type: string
        issuing_name:
          type: string
        issuing_tax_id:
          type: string
        issuing_address:
          type: string
          nullable: true
        issuing_phone:
          type: string
          nullable: true
        issuing_town:
          type: string
          nullable: true
        issuing_zip_code:
          type: string
          nullable: true
        issuing_country_code:
          type: string
          nullable: true
        recipient_name:
          type: string
          nullable: true
        recipient_tax_id:
          type: string
          nullable: true
        recipient_address:
          type: string
          nullable: true
        recipient_phone:
          type: string
          nullable: true
        recipient_town:
          type: string
          nullable: true
        recipient_zip_code:
          type: string
          nullable: true
        recipient_country_code:
          type: string
          nullable: true

    BookEntryResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          description: The specific type (invoices, tickets, simplified_invoices, additional_incomes, paysheets)
        attributes:
          $ref: "#/components/schemas/BookEntryAttributes"
        relationships:
          type: object
          properties:
            accounting_category:
              $ref: "#/components/schemas/RelationshipLinkage"
            accounting_subcategory:
              $ref: "#/components/schemas/RelationshipLinkage"

    # ── Invoices ─────────────────────────────────────────────────────────
    InvoiceAttributes:
      allOf:
        - $ref: "#/components/schemas/BookEntryAttributes"
        - type: object
          properties:
            kind:
              type: string
              enum: [income, expenses]
            total_amount_without_taxes:
              type: string
            vat_amount:
              type: string
            retention_amount:
              type: string
            last_sent_at:
              type: string
              format: date-time
              nullable: true
            notes:
              type: string
              nullable: true
            stage:
              type: string
              enum: [draft, final]
            download_pdf_url:
              type: string
              format: uri
              nullable: true
            ephemeral_open_download_pdf_url:
              type: string
              format: uri
              nullable: true

    InvoiceResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: invoices
        attributes:
          $ref: "#/components/schemas/InvoiceAttributes"
        relationships:
          type: object
          properties:
            contact:
              $ref: "#/components/schemas/RelationshipLinkage"
            numeration:
              $ref: "#/components/schemas/RelationshipLinkage"
            items:
              $ref: "#/components/schemas/RelationshipLinkageArray"
            accounting_category:
              $ref: "#/components/schemas/RelationshipLinkage"
            accounting_subcategory:
              $ref: "#/components/schemas/RelationshipLinkage"
            amending_invoices:
              $ref: "#/components/schemas/RelationshipLinkageArray"
            amended_invoice:
              $ref: "#/components/schemas/RelationshipLinkage"

    InvoiceWritable:
      type: object
      required: [type, attributes]
      properties:
        type:
          type: string
          const: invoices
        attributes:
          type: object
          required: [kind, issue_date]
          properties:
            kind:
              type: string
              enum: [income, expenses]
              description: Whether this is an income or expense invoice (REQUIRED)
            issue_date:
              type: string
              format: date
              description: Issue date (REQUIRED)
            filing_number:
              type: string
              nullable: true
            due_dates:
              type: array
              items:
                type: string
                format: date
            due_date_intervals:
              type: array
              items:
                type: integer
              description: Due date intervals in days from issue date
            paid_at:
              type: string
              format: date
              nullable: true
            payment_method:
              type: string
            tags:
              type: array
              items:
                type: string
            notes:
              type: string
            equivalence_surcharge:
              type: boolean
              description: Whether equivalence surcharge applies
            credit_note_reason:
              type: string
              enum: [R1, R2, R3, R4, R5, R6, R7, R8]
              description: Reason code for credit notes
            exempt_reason:
              type: string
              enum: [R1, R2, R3]
              description: Reason code for VAT exemption
            collection_type:
              type: string
              enum: [R1, R2, R3, R4, none]
              description: Collection type
            canary_island_special_zone:
              type: string
              enum: [R1]
              description: Canary Island special zone indicator
            account_number_and_swift_bic:
              type: string
              description: Bank account number and SWIFT/BIC code
        relationships:
          type: object
          properties:
            contact:
              $ref: "#/components/schemas/RelationshipLinkage"
            numeration:
              $ref: "#/components/schemas/RelationshipLinkage"
            items:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        const: items
                      attributes:
                        $ref: "#/components/schemas/ItemWritableAttributes"

    # ── Tickets ──────────────────────────────────────────────────────────
    TicketAttributes:
      allOf:
        - $ref: "#/components/schemas/BookEntryAttributes"
        - type: object
          properties:
            kind:
              type: string
              enum: [income, expenses]
            total_amount_without_taxes:
              type: string
            vat_amount:
              type: string
            retention_amount:
              type: string
            notes:
              type: string
              nullable: true
            download_pdf_url:
              type: string
              format: uri
              nullable: true

    TicketResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: tickets
        attributes:
          $ref: "#/components/schemas/TicketAttributes"
        relationships:
          type: object
          properties:
            numeration:
              $ref: "#/components/schemas/RelationshipLinkage"
            items:
              $ref: "#/components/schemas/RelationshipLinkageArray"
            accounting_category:
              $ref: "#/components/schemas/RelationshipLinkage"
            accounting_subcategory:
              $ref: "#/components/schemas/RelationshipLinkage"
            amending_tickets:
              $ref: "#/components/schemas/RelationshipLinkageArray"
            amended_ticket:
              $ref: "#/components/schemas/RelationshipLinkage"

    TicketWritable:
      type: object
      required: [type, attributes]
      properties:
        type:
          type: string
          const: tickets
        attributes:
          type: object
          required: [kind, issue_date]
          properties:
            kind:
              type: string
              enum: [income, expenses]
            issue_date:
              type: string
              format: date
            filing_number:
              type: string
              nullable: true
            due_dates:
              type: array
              items:
                type: string
                format: date
            paid_at:
              type: string
              format: date
              nullable: true
            payment_method:
              type: string
            tags:
              type: array
              items:
                type: string
            notes:
              type: string
        relationships:
          type: object
          properties:
            numeration:
              $ref: "#/components/schemas/RelationshipLinkage"
            items:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        const: items
                      attributes:
                        $ref: "#/components/schemas/ItemWritableAttributes"

    # ── Simplified Invoices ──────────────────────────────────────────────
    SimplifiedInvoiceAttributes:
      allOf:
        - $ref: "#/components/schemas/BookEntryAttributes"
        - type: object
          properties:
            kind:
              type: string
              enum: [income, expenses]
            total_amount_without_taxes:
              type: string
            vat_amount:
              type: string
            retention_amount:
              type: string
            notes:
              type: string
              nullable: true
            stage:
              type: string
              enum: [draft, final]
            download_pdf_url:
              type: string
              format: uri
              nullable: true

    SimplifiedInvoiceResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: simplified_invoices
        attributes:
          $ref: "#/components/schemas/SimplifiedInvoiceAttributes"
        relationships:
          type: object
          properties:
            numeration:
              $ref: "#/components/schemas/RelationshipLinkage"
            items:
              $ref: "#/components/schemas/RelationshipLinkageArray"
            accounting_category:
              $ref: "#/components/schemas/RelationshipLinkage"
            accounting_subcategory:
              $ref: "#/components/schemas/RelationshipLinkage"

    SimplifiedInvoiceWritable:
      type: object
      required: [type, attributes]
      properties:
        type:
          type: string
          const: simplified_invoices
        attributes:
          type: object
          required: [kind, issue_date]
          properties:
            kind:
              type: string
              enum: [income, expenses]
            issue_date:
              type: string
              format: date
            filing_number:
              type: string
              nullable: true
            due_dates:
              type: array
              items:
                type: string
                format: date
            paid_at:
              type: string
              format: date
              nullable: true
            payment_method:
              type: string
            tags:
              type: array
              items:
                type: string
            notes:
              type: string
        relationships:
          type: object
          properties:
            numeration:
              $ref: "#/components/schemas/RelationshipLinkage"
            items:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        const: items
                      attributes:
                        $ref: "#/components/schemas/ItemWritableAttributes"

    # ── Additional Incomes ───────────────────────────────────────────────
    AdditionalIncomeAttributes:
      allOf:
        - $ref: "#/components/schemas/BookEntryAttributes"
        - type: object
          properties:
            kind:
              type: string
              enum: [income, expenses]
            total_amount_without_taxes:
              type: string
            vat_amount:
              type: string
            retention_amount:
              type: string
            notes:
              type: string
              nullable: true
            download_pdf_url:
              type: string
              format: uri
              nullable: true

    AdditionalIncomeResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: additional_incomes
        attributes:
          $ref: "#/components/schemas/AdditionalIncomeAttributes"
        relationships:
          type: object
          properties:
            numeration:
              $ref: "#/components/schemas/RelationshipLinkage"
            items:
              $ref: "#/components/schemas/RelationshipLinkageArray"
            accounting_category:
              $ref: "#/components/schemas/RelationshipLinkage"
            accounting_subcategory:
              $ref: "#/components/schemas/RelationshipLinkage"

    AdditionalIncomeWritable:
      type: object
      required: [type, attributes]
      properties:
        type:
          type: string
          const: additional_incomes
        attributes:
          type: object
          required: [kind, issue_date]
          properties:
            kind:
              type: string
              enum: [income, expenses]
            issue_date:
              type: string
              format: date
            filing_number:
              type: string
              nullable: true
            due_dates:
              type: array
              items:
                type: string
                format: date
            paid_at:
              type: string
              format: date
              nullable: true
            payment_method:
              type: string
            tags:
              type: array
              items:
                type: string
            notes:
              type: string
        relationships:
          type: object
          properties:
            numeration:
              $ref: "#/components/schemas/RelationshipLinkage"
            items:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        const: items
                      attributes:
                        $ref: "#/components/schemas/ItemWritableAttributes"

    # ── Paysheets ────────────────────────────────────────────────────────
    PaysheetAttributes:
      allOf:
        - $ref: "#/components/schemas/BookEntryAttributes"
        - type: object
          properties:
            kind:
              type: string
              enum: [income, expenses]
            net_pay:
              type: string
            gross_pay:
              type: string
            employee_ss_amount:
              type: string
            employee_retention:
              type: string
            company_ss_amount:
              type: string

    PaysheetResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: paysheets
        attributes:
          $ref: "#/components/schemas/PaysheetAttributes"
        relationships:
          type: object
          properties:
            contact:
              $ref: "#/components/schemas/RelationshipLinkage"

    PaysheetWritable:
      type: object
      required: [type, attributes]
      properties:
        type:
          type: string
          const: paysheets
        attributes:
          type: object
          required: [kind, issue_date]
          properties:
            kind:
              type: string
              enum: [income, expenses]
            issue_date:
              type: string
              format: date
            paid_at:
              type: string
              format: date
              nullable: true
            payment_method:
              type: string
            tags:
              type: array
              items:
                type: string
            net_pay:
              type: number
              description: Net pay amount
            gross_pay:
              type: string
            employee_ss_amount:
              type: number
              description: Employee social security amount
            employee_retention:
              type: number
              description: Employee retention amount
            company_ss_amount:
              type: number
              description: Company social security amount
        relationships:
          type: object
          properties:
            contact:
              $ref: "#/components/schemas/RelationshipLinkage"

    # ── Numbering Series ─────────────────────────────────────────────────
    NumberingSeriesAttributes:
      type: object
      properties:
        prefix:
          type: string
          example: "F-"
        default:
          type: boolean
        amending:
          type: boolean
        deletable:
          type: boolean
        applicable_to:
          type: string
          nullable: true
        is_valid:
          type: boolean
        applies_to:
          type: string
          enum: [new_documents, existing_documents]
          nullable: true

    NumberingSeriesResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: numbering_series
        attributes:
          $ref: "#/components/schemas/NumberingSeriesAttributes"

    NumberingSeriesWritable:
      type: object
      required: [type, attributes]
      properties:
        type:
          type: string
          const: numbering_series
        attributes:
          type: object
          properties:
            prefix:
              type: string
            default:
              type: boolean
            amending:
              type: boolean
            applies_to:
              type: string
              enum: [new_documents, existing_documents]

    # ── Accounting Categories ────────────────────────────────────────────
    AccountingCategoryAttributes:
      type: object
      properties:
        name:
          type: string
        prefix:
          type: string
        kind:
          type: string

    AccountingCategoryResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: accounting_categories
        attributes:
          $ref: "#/components/schemas/AccountingCategoryAttributes"

    # ── Accounting Subcategories ─────────────────────────────────────────
    AccountingSubcategoryAttributes:
      type: object
      properties:
        name:
          type: string
        suffix:
          type: string

    AccountingSubcategoryResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: accounting_subcategories
        attributes:
          $ref: "#/components/schemas/AccountingSubcategoryAttributes"
        relationships:
          type: object
          properties:
            accounting_category:
              $ref: "#/components/schemas/RelationshipLinkage"

    AccountingSubcategoryWritable:
      type: object
      required: [type, attributes]
      properties:
        type:
          type: string
          const: accounting_subcategories
        attributes:
          type: object
          properties:
            name:
              type: string
            suffix:
              type: string
        relationships:
          type: object
          properties:
            accounting_category:
              $ref: "#/components/schemas/RelationshipLinkage"

    # ── Attachments ──────────────────────────────────────────────────────
    AttachmentResource:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          const: attachments
        attributes:
          type: object
          properties:
            file_name:
              type: string
            file_size:
              type: integer
            content_type:
              type: string
            url:
              type: string
              format: uri

  # ── Responses ──────────────────────────────────────────────────────────
  responses:
    Unauthorized:
      description: Authentication required or token invalid
      content:
        application/vnd.quipu.v1+json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            errors:
              - detail: Not authorized
    NotFound:
      description: Resource not found
      content:
        application/vnd.quipu.v1+json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            errors:
              - detail: Record not found
    UnprocessableEntity:
      description: Validation errors
      content:
        application/vnd.quipu.v1+json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            errors:
              - source:
                  pointer: /data/attributes/name
                detail: can't be blank
    TooManyRequests:
      description: Rate limit exceeded (5 requests per 5 seconds)
      content:
        application/vnd.quipu.v1+json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            errors:
              - detail: Rate limit exceeded. Maximum 5 requests per 5 seconds.
